<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BCR API</title>
</head>
<body>
    <h1>BCR</h1>
    <a href="/BCR/Lists?$format=json">Lists</a><br/>
    <a href="/BCR/Lists/f3e6cc52-2f39-416c-afee-f84cad603033/Comics?$format=json&$top=10">Library</a><br/>
    <a href="/BCR/Comics?$format=json&$top=10">Comics</a><br/>
    <a href="/BCR/Comics/3d5be34a-fa29-4e01-b85d-df4be05d095c?$format=json">Comic Info</a><br/>
    <a href="/BCR/Comics/3d5be34a-fa29-4e01-b85d-df4be05d095c/Pages/0">Comic Page OData not working...</a><br/>
    <a href="/BCR/Image/3d5be34a-fa29-4e01-b85d-df4be05d095c/1">Comic Page</a><br/>
    
</body>
</html>
