<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BCR API</title>
</head>
<body>
    <h1>BCR</h1>
    <a href="BCR/Lists">Lists</a><br/>
    <a href="BCR/Lists(f3e6cc52-2f39-416c-afee-f84cad603033)/Comics?$top=10">Library</a>
</body>
</html>
